<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
</head>
    <!--bower:js-->

    <!--endbower-->
    <!--inject:js-->

   <!--endinject-->

    <!--bower:css-->

    <!--endbower-->
<body>
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <% for(var i=0; i<sideMenu.length;i++) {%>
                <li>
                    <a href="<%=sideMenu[i].Link%>"> <i class="fa fa-fw fa-hand-o-right"></i> <%=sideMenu[i].Text%> 
                    </a>
                </li>
                <%}%> 
                </ul>

    <ol class="breadcrumb">
        <li class="active">
            <ul>
                <% for(var i=0; i<fakeData.length;i++) {%>
                    <li>
                    <a href="second/<%=fakeData[i]._id%>" > <h4><%=fakeData[i].city%> </h4></a>
                    </li>
                    <%}%>
            </ul>
        </li>
    </ol>


</body>
</html>