<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
</head>
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/tether/dist/js/tether.js"></script>
    <!--endbower-->
    <!--inject:js-->

   <script src="/js/scripts.js"></script>

   <!--endinject-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
<body>


        

        <div class="col-md-2"> 
        <div class="padding-top">      
            <ul class="nav nav-pills nav-stacked">   
            <% for(var i=0; i<sideMenu.length;i++) {%>
                <li class=" active">
                <a href="<%=sideMenu[i].Link%>"> 
                <i class="fa fa-fw fa-hand-o-right"></i> <%=sideMenu[i].Text%> 
                </a>
                </li>
            <%}%> 
            </ul>
        </div>
        </div>
        <div class="container">
<div class="col-md-10">
    <ol>
        <div class="padding-top">
            <ul class="a1 flex-container">
                <div class="padding-top1">
                <% for(var i=0; i<fakeData.length;i++) {%>
                    <li class="a b ">
                    <a class="ghost-button " href="second/<%=fakeData[i]._id%>" > <h4><%=fakeData[i].city%> </h4></a>
                    </li>
                    <%}%>
                </div>
            </ul>
        </div>
    </ol>
</div>
</div>


</body>
</html>